@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

body {
    background-color: skyblue;
    font-family: 'Merriweather', serif;
}

header {
    text-align: center;
}

header h1 {
    background-color:black;
    border-radius: 20px;
    padding: 20px;
    color: skyblue;
}

h2 {
    font-size: 2.5em;
}

#content {
    max-width: fit-content;
    margin: auto;
}

.scene-cards section {
    background-color: antiquewhite;
    padding: 20px;
    margin: 30px;
    border-radius: 30px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}